/* text color : #4f4b4b */

* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #d9d9d9;
  height: 100px;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  
}
.heading {
  color: black;
  font-size: 32px;
  text-transform: capitalize;
  font-family: Inter,sans-serif;
  text-decoration:underline;
  font-weight:bold;
}
.main-container{
  display:flex;
  gap:20px;
  margin:30px 50px;
  flex-wrap:wrap;
  justify-content:center;
}
.card-img-top{
  height:200px;
}
.card-title, .card-text{
  text-transform: capitalize;
  text-align:center;
}
.projectlink{
  text-decoration:none;
}
@media only screen and (max-width: 500px) {
  .heading {
    font-size: 1.6rem;
  }
}